/*CSS styling by Elisabeth Parker*/

.container a {
  color: #fd5649;
}
.container a:hover {
  color: #fd7365;
  text-decoration: none;
}
.container .caption {
  font-style: italic;
  font-family: serif;
  font-size: 12px !important;
  color: grey;
  text-indent: 0px !important;
}
.row h4 {
  font-family: 'Sumana', serif;
  font-weight: 600;
  font-size: 18px;
}

/*styling for the nav bar*/
#header {
  min-height: 175px;
  background-image: url(../images/header-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*styling for title and first img*/
#title h1 {
  font-family: 'Sumana', serif;
  font-size: 37.5pt;
  margin-bottom: 25px;
}
#title img {
  max-height: 500px;
  margin-bottom: 7px;
}

/*styling for author/pub info*/
#meta {
  display: inline;
  font-family: 'Sumana', serif;
  font-size: 10px;
  width: 100%;
}
#meta * {
  display: inline;
}
#meta img {
  max-height: 75px;
  max-width: 75px;
  min-width: 75px;
  min-height: 75px;
  margin-right: 25px;
}
#meta h6 {
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-variant: small-caps;
  display: block;
  margin: 20px 0px;
}

/*styling for background content*/
.row p {
  font-family: 'Sumana', serif;
  text-indent: 50px;
  font-size: 18px;
}
#top-img img {
  width: 100%;
}
#top em {
  font-size: 50px;
  font-style: normal;
  margin-right: 5px;
  line-height: 20px;
}

/*styling for tournament section*/
#tournament {
  margin-bottom: 35px;
}
#tourn-chart {
  min-height: 200px;
}

/*styling for matches section*/
/* Style the tab buttons */
.tablink {
    background-color: #afb0b3;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    width: 25%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    max-width: max-content;
}
/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}
/* Set default styles for tab content */
.tabcontent {
    color: black;
    display: none;
    padding: 25px;
    border: 1px solid rgb(226, 226, 227);
    background-color:white;
}
.tabcontent h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#matches, #serve {
  margin-bottom: 40px;
}

/*styling for serve section*/
.c3-legend-item text {
  font-family: 'Montserrat', sans-serif;
}
#serveChart {
  min-height: 400px;
  max-height: 400px!important;
}

#arena {
  max-width: 350px;
}

table {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
.container #table {
  margin-bottom: 50px;
}
thead tr th {
  font-weight: 500;
}

.dataTables_info, .dataTables_paginate, .dataTables_length {
  display: none;
}
table.dataTable.display tbody tr:hover {
  background-color: rgba(48, 91, 171, 0.1)
}

.mobile {
  display: none;
}
